<!DOCTYPE html>
	<html>
		<head>
			<title>ん？（察し）</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
			<style type="text/css">
				.Center {
					text-align:center;
					margin-top: 5%;
				}
				a{
					text-decoration: none;
					color: black;
				}
				a:hover{
					text-decoration: underline;
					color: darkgrey;
				}
				.tex{
					margin-top: 20px;
					font-family: arial;
					font-style: normal;
				}
			</style>
		</head>
		<body>
			<div class="Center">
				<img src="./static/img/404.jpg"/>
				<p class="tex">ないっすね～（４０４）</p>
				<br />
				<a href="/" class="tex">Back to Index</a>
			</div>
		</body>
	</html>