{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
{% endblock %}


{% block container %}
<span id="design-id" style="display: none;">{{design.id}}</span> <!-- given by jinja2 -->
<!-- put code here with-->
<div class="ui column grid centered">
  <div class="ui banner one column fliud centered">
  </div>
</div> <!-- top banner -->

<div class="ui column grid">
  <!-- designs -->
  <div class="ui column sixteen wide main">
    <div class="ui segment main">
      <div class="design card {% if not info['myCreation'] %}my{% endif %}">
        <div class="ui column grid design" design-id="{{design.id}}">
          <div class="ui row">
            <div class="eleven wide column">
              <h3 class="ui header">
                <img src="/static/img/icon/{{session.get('icon')}}.jpg" class="ui rounded image mini">&nbsp;
                <a href="/user/{{design.owner_id}}" class="user">{{design.owner.nickname}}</a> - {{design.design_name}}
                [{% if design.design_mode == "make" %}Products{% elif design.design_mode == "resolve" %}Substrates{% endif %}]
                {% if not design.shared %}<span title="Private design"><i class="ui icon lock"></i></span>{% endif %}
                {% if design.needHelp %}<span title="Help wanted"><i class="ui icon users"></i></span>{% endif %}

              </h3>
            </div>

            <div class="five wide column right aligned">
              <div class="ui labeled button mini like">
                <div class="ui red button" title="{% if not info['liked'] %}Like it{% else %}Liked{% endif %}">
                  <i class="{% if not info['liked'] %}empty{% endif %} heart icon"></i>
                </div>
                <a class="ui basic red left pointing label">
                  {{ info['like_num'] }}
                </a>
              </div>
              <button class="ui icon button tiny basic orange mark" title="{% if not info['marked'] %}Mark it{% else %}Marked{% endif %}">
                <i class="{% if not info['marked'] %}empty{% endif %} star icon"></i>
              </button>
              {% if design.owner_id == session.get("user") %}
              <button class="ui icon button tiny basic share {% if design.shared %}brown{% else %}gray{% endif %}" title="{% if design.shared %}Shared{% else %}Share it now!{% endif %}">
                <i class="share sign icon"></i>
              </button>
              <button class="ui icon button tiny basic delete red">
                <i class="delete sign icon"></i>
              </button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="description">
          <p class="design description">
            {% if design.description %}{{ design.description }}{% else %}No Description{% endif %}
          </p>
          <p class="time">{{ info.datetime }}</p>
        </div>
        <div class="ui tiny progress indicating" data-value="{{ design.state }}" data-total="5">
          <div class="bar"></div>
          <div class="label">
            {% if design.state == 1 %}
            Search
            {% elif design.state == 2 %}
            Adjustment
            {% elif design.state == 3 %}
            Simulation
            {% elif design.state == 4 %}
            Promoter
            {% elif design.state == 5 %}
            Experimental results
            {% endif %}
          </div>
        </div>
      </div> <!-- design card -->

      <div class="ui styled fluid accordion">
        <div class="title active">
          <i class="dropdown icon"></i>
          Step 1
        </div>
        <div class="content active">
          <p class="transition visible">一堆数据，脑子不够想排版。做成标签形式。</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Step 2
        </div>
        <div class="content">
          <p class="transition hidden">一大堆图表，先不放</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Step 3
        </div>
        <div class="content">
          <p class="transition hidden">
            <div class="ui column grid state">
              <div class="ui four wide column">
                <div class="ui inverted vertical menu fluid" id="state-3-menu">
                </div>
              </div>
              <div class="twelve wide column fluid">
                <div class="ui segment" id="state-3-content">
                  <div class="ui grid">
                    <div class="ui row equal width">
                      <div class="ui column center aligned">
                        <canvas id="myChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- state grid -->
          </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Step 4
        </div>
        <div class="content">
          <p class="transition hidden">
            <button class="ui green button">
              <i class="download icon"></i>
              Download Protocal
            </button>
          </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Step 5
        </div>
        <div class="content">
          <p class="transition hidden">实验数据反馈</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/detail.js"></script>
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
{% endblock %}