{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/help.css">
{% endblock %}

{% block container %}
<div class="ui grid" id="main-container">
  <div class="ui row">
    <div class="ui column one wide">
    </div>
    <div class="ui column fourteen wide">
      <h1 class="ui huge header" id="qna" style="margin: 20px 0 50px 0; font-size: 6em; text-align: right;"> Help </h1>
      <div class="ui list">
        <div class="item">
          <div class="ui huge header">User guide</div>
          <div class="ui list animated">
            <div class="ui item small header"> <a href="#sign-up-and-log-in">Sign up and Log in</a> </div>
            <div class="ui item small header"> <a href="#profile">My Profile page</a> </div>
            <div class="ui item small header"> <a href="#square">Square page</a> </div>
            <div class="ui item small header"> <a href="#search-box">Search Box on top menu</a> </div>
            <div class="ui item small header"> <a href="#design-detail">Design detail</a> </div>
            <div class="ui item small header"> <a href="#others-profile">Other's profile</a> </div>
            <div class="ui item small header"> <a href="#settings">Settings</a> </div>
            <div class="ui item small header"> <a href="#feedback-quest">Feedback</a> </div>
            <div class="ui item small header"> <a href="#new-a-design">New A Design</a> </div>
          </div>
        </div>
        <div class="item">
          <div class="ui huge header">FAQ</div>
          <div class="ui list animated">
            <div class="ui item small header"> <a href="#quest1">Question one</a> </div>
            <div class="ui item small header"> <a href="#quest2">Question two</a> </div>
            <div class="ui item small header"> <a href="#quest3">Question three</a> </div>
            <div class="ui item small header"> <a href="#quest4">Question four</a> </div>
            <div class="ui item small header"> <a href="#quest5">Question five</a> </div>
            <div class="ui item small header"> <a href="#quest6">Question six</a> </div>
            <div class="ui item small header"> <a href="#quest7">Question seven</a> </div>
            <div class="ui item small header"> <a href="#quest8">Question eight</a> </div>
            <div class="ui item small header"> <a href="#quest9">Question nine</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui row">
    <div class="ui column one wide"> </div>
    <div class="ui column fourteen wide">
      <div class="ui medium header"><a class="quest" id="sign-up-and-log-in" name="sign-up-and-log-in">Sign up and Log in</a></div>
      <div class="ui">
        <p>如果你是老用户，可以点击主页的LOG IN tab来进行登陆。<br />
          如果你是CRAFT的新用户，你可以在主页 craft.sysusoftware.info 用你的邮箱注册CRAFT账户，以使用CRAFT Designer或在CRAFT Square中与他人互动或协助他人的搜索或模拟运算。<br />
          或者，你可以先在guest mode中浏览他人的Design，从中获取一些灵感或帮助。<br />
          <img src="/static/img/help/index.png">
        </p>
      </div>
      <div class="ui medium header"><a class="quest" id="profile" name="profile">Profile page</a></div>
      <div class="ui">
        <p>在这里列出了你所有的设计、以及你mark的设计。<br />
          <img src="/static/img/help/profile.png">
        </p>
      </div>
      <div class="ui medium header"><a class="quest" id="square" name="square">Square page</a></div>
      <div class="ui">
        <p>你可以在这里发现所有公开的Desgin，并给予它们Like或mark他们。当然，如果发现有人试图使用CRAFT制造危险物质，你也可以在square上提供举报，后台服务会受到举报并进行处理。<br />
          <img src="/static/img/help/square.png">
        </p>
      </div>
      <div class="ui medium header"><a class="quest" id="search-box" name="search-box">Search Box on top menu</a></div>
      <div class="ui">
        <p>你可以在这里搜索所有相关的用户或公开的Design。<br />
          <img src="/static/img/help/searchbox.png">
          </p>
      </div>
      <div class="ui medium header"><a class="quest" id="design-detail" name="design-detail">Design detail</a></div>
      <div class="ui">
        <p>点击Square或Profile的Design name可以打开design detail页，并在这里查看该design每一步的详情。<br />
          <img src="/static/img/help/detail.png"><br />
        如果它是你的Design，你可以在这里对它的设计详情进行修改，也可以分享或取消分享该share，甚至删除该design。<br />
          <img src="/static/img/help/detail2.png"></p>
      </div>
      <div class="ui medium header"><a class="quest" id="settings" name="settings">Settings</a></div>
      <div class="ui">
        <p>你可以通过顶部菜单的下拉栏进入settings页，以修改你的个人头像或更换nickname或密码。</p>
      </div>
      <div class="ui medium header"><a class="quest" id="others-profile" name="others-profile">Other's profile</a></div>
      <div class="ui">
        <p>你可以在Square或profile中点击他人的nickname以进入他人的profile，以查看他的所有设计和所有mark。</p>
      </div>
      <div class="ui medium header"><a class="quest" id="feedback-quest" name="feedback-quest">Feedback</a></div>
      <div class="ui">
        <p>在任何页面的右手边，都有标识为邮箱的feedback按钮。你可以随时随地以邮件的形式向我们发送feedback。</p>
      </div>
      <div class="ui medium header"><a class="quest" id="new-a-design" name="new-a-design">New A Design</a></div>
      <div class="ui">
        <p> Click the CRAFT Designer button in the top banner.</p>
        <img src="/static/img/help/new-design-1.png">
        <p> Here is a new design, as you see. Give it a name, creater, also choose mode. </p>
        <img src="/static/img/help/new-design-2.png">
        <p> Now you can fill the chart on the website. Just type part of targes' name, there will be options to choose.
          Compunds that doesn't exist in the search result are currently not supported.</p>
        <img src="/static/img/help/new-design-3.png">
        <p> You can also upload one exact xls file (click the upload button below) when the data are massive. 
          <a href="/static/upload/state_1_template.xls">Here is a sample</a>, files with different format will be rejected.
            Uploading file while filling forms is currently not supported.
        </p>
        <img src="/static/img/help/new-design-4.png">
        <p>Remember to save before the next step.</p>
        <p>Here is the pending page, your summited design needs to be calculated, install the plugin or share it.</p>
        <img src="/static/img/help/new-design-5.png">
        <p>Now, the result is here. You can view different chassises and thier plasmids</p>
        <img src="/static/img/help/new-design-6.png">
        <p>Try to modify the Promoter strength or Decomposition rate of mRNA, and draw the graph of protein expression by a click on the draw bottun.</p>
        <img src="/static/img/help/new-design-7.png">
        <p>Remember to save before the next step.</p>
        <p>Here is the pending page, your summited design needs to be calculated, install the plugin or share it.</p>
        <img src="/static/img/help/new-design-5.png">
        <p>Finally, here is the simulation result of co-culture (bla bla bla stuffs), the concentration-time graph.</p>
        <img src="/static/img/help/new-design-8.png">
        <p>click the next step, there will be a preview page of downloadabled protocol pdf.</p>
        <img src="/static/img/help/new-design-9.png">
        <p> Click the next step, here is the feedback page. please upload file or fill the charts to give us your feed back, help us improve the model with your exp data. </p>
        <img src="/static/img/help/new-design-10.png">
        <p> After that, your browser will be redirected to your design detail page.</p>
        <img src="/static/img/help/new-design-11.png">
        <p> Your can edit the design again, just click the pencil button. </p>
        <img src="/static/img/help/new-design-12.png">
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
{% endblock %}
