
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>profile</title>
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/base.css">
  <!-- put css stylesheet down here -->
  <link rel="stylesheet" type="text/css" href="./static/css/profile.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/menu.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/dropdown.min.css">
</head>
<body>
  <!-- <div class="container ui"> </div>  -->
  <div class="ui borderless main menu inverted fixed" id="top-menu">
    <div class="ui container">
      <div class="header item menu-title"><i class="rocket icon"></i> CRAFT</div>
      <div class="item">
        <div class="ui category search item">
          <div class="ui transparent icon input inverted small">
            <input class="prompt inverted" type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="right menu">
        <a class="item">Wiki</a>
        <a class="item">Help</a>
        <div class="ui dropdown item">
          My <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">My Profile</a>
            <a class="item">Setting</a>
            <div class="divider"></div>
            <a class="item" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui column fluid" id="top-bg">
    <div class="container ui" id="main-container">
      <!-- put code here with-->
      <div class="ui column grid centered">
        <div class="ui banner one column fliud centered">
          <div class="ui column grid centered bottom">
            <div class="ui five wide column center aligned fluid">
              <button class="ui inverted grey basic button huge">CRAFT Square</button>
            </div>
            <div class="ui five wide column center aligned fluid">
              <button class="ui inverted grey basic button huge">CRAFT Designer</button>
            </div>
          </div>
        </div>
      </div> <!-- top banner -->

      <div class="ui column grid">
        <div class="ui column fliud profile-menu">
          <div class="ui secondary pointing menu inverted">
            <a class="active item">
              All
            </a>
            <a class="item">
              Created
            </a>
            <a class="item">
              Marked
            </a>
            <div class="right menu">
              <a class="ui item">
                Sort by
              </a>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui row">
              <div class="ui column fliud">
                <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="tag icon"></i>
              Divider
            </h4>

            <div class="ui row">
              <div class="ui column fliud">
                <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="tag icon"></i>
              Divider
            </h4>

            <div class="ui row">
              <div class="ui column fliud">
                <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="tag icon"></i>
              Divider
            </h4>

            <div class="ui row">
              <div class="ui column fliud">
                <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="tag icon"></i>
              Divider
            </h4>

            <div class="ui row">
              <div class="ui column fliud">
                <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div> <!-- main-container -->
  </div>

  <!-- put code here, without background image -->

  <!-- footer -->
  <!-- <div class="ui one column grid footer"> -->
  <div class="ui vertical footer segment column fliud">
    <div class="ui center aligned container">
      SYSU-Software 2016
    </div>
  </div>
  <!-- </div> -->


  <script type="text/javascript" src="./static/js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="./static/css/semantic/semantic.min.js"></script>
  <script type="text/javascript" src="./static/js/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="./static/js/base.js"></script>
  <!-- put javascript down here -->
  <script type="text/javascript" src="./static/js/profile.js"></script>
  <script type="text/javascript" src="./static/css/semantic/components/dropdown.min.js"></script>
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
</body>
</html>