{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
<link rel="stylesheet" type="text/css" href="/static/css/semantic/components/menu.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/semantic/components/dropdown.min.css">
{% endblock %}


{% block container %}
<div class="ui column grid centered">
  <div class="ui banner one column fliud centered">
    <div class="ui column grid centered bottom">
      <div class="ui five wide column center aligned fluid">
        <button class="ui inverted grey basic button huge">CRAFT Square</button>
      </div>
      <div class="ui five wide column center aligned fluid">
        <button class="ui inverted grey basic button huge">CRAFT Designer</button>
      </div>
    </div>
  </div>
</div> <!-- top banner -->

<div class="ui column grid">
  <div class="ui column fliud profile-menu">
    <div class="ui secondary large pointing menu">
      <a class="active item">
        All
      </a>
      <a class="item">
        Created
      </a>
      <a class="item">
        Marked
      </a>
    </div>
    <div class="ui segment">
      <div class="ui row">
        <div class="ui column fliud">
          <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Divider
      </h4>

      <div class="ui row">
        <div class="ui column fliud">
          <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Divider
      </h4>

      <div class="ui row">
        <div class="ui column fliud">
          <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Divider
      </h4>

      <div class="ui row">
        <div class="ui column fliud">
          <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Divider
      </h4>

      <div class="ui row">
        <div class="ui column fliud">
          <img src="http://semantic-ui.com/images/wireframe/media-paragraph.png" class="ui wireframe image"/>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/profile.js"></script>
<script type="text/javascript" src="/static/css/semantic/components/dropdown.min.js"></script>
{% endblock %}