{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/state_3.css">
{% endblock %}


{% block container %}
<!-- put code here with-->
<span id="design-id" style="display: none;">{{design_id}}</span> <!-- given by jinja2 -->
<div class="ui five steps sticky">
  <a class="step" href="{% if design.state >= 1 %}/state/{{design.id}}/1{% endif %}">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">
        Search
      </div>
    </div>
  </a>
  <a class="step" href="{% if design.state >= 2 %}/state/{{design.id}}/2{% endif %}">
    <i class="circle icon"></i>
    <div class="content">
    <div class="title">
        Adjustment
      </div>
    </div>
  </a>
  <a class="active step" href="{% if design.state >= 3 %}/state/{{design.id}}/3{% endif %}">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">
        Simulation
      </div>
    </div>
  </a>
  <a class="step" href="{% if design.state >= 4 %}/state/{{design.id}}/4{% endif %}">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">
        Protocol
      </div>
    </div>
  </a>
  <a class="step" href="{% if design.state >= 5 %}/state/{{design.id}}/5{% endif %}">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">
        Experimental results
      </div>
    </div>
  </a>
</div>
<div class="ui column grid state">
  <div class="ui four wide column">
    <div class="ui inverted vertical menu fluid" id="state-3-menu">
      <!-- <div class="item title"><b>Substance(s)</b></div> -->
    </div>
  </div>
  <div class="twelve wide column fluid">
    <div class="ui segment" id="state-3-content">
      <div class="ui grid">

        <div class="ui row equal width">
          <div class="ui column center aligned">
            <canvas id="myChart"></canvas>
          </div>
        </div>

        <div class="ui row">
          <div class="ui column right aligned">
            <!-- <button class="ui blue button big">Save</button> -->
            <button class="ui green button big next">Next Step</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- state grid -->
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/state_3.js"></script>
{% endblock %}
