{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/state_1.css">
{% endblock %}


{% block container %}
<!-- put code here with-->
<span id="design-id" style="display: none;">{% if design_id %}{{design_id}}{% endif %}</span> <!-- given by jinja2 -->
<span id="design-mode" style="display: none;">{% if design_mode %}{{design_mode}}{% endif %}</span> <!-- given by jinja2 -->
<div class="ui five steps sticky">
  <a class="active step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Search</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Adjustment</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Simulation</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Protocol</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Experimental results</div>
    </div>
  </a>
</div>
<div class="ui column grid state">
  <div class="ui grid">
    <div class="ui row">
      <div class="ui column sixteen wide">
        <h1 class="ui header right floated">
          <i class="idea icon default black"></i>
          <div class="content design-name {% if not design_name %}new{% endif %}">
            {% if design_name %}{{design_name}}{% else %}Default Design Name{% endif %}
            <div class="sub header"></div>
          </div>
        </h1>
      </div>
    </div>
    <div class="ui row make-row">
      <div class="ui column fifteen wide">
        <h3 class="ui green header">
          <i class="lab icon default black"></i>
          <div class="content">Products
            <div class="sub header"></div>
          </div>
        </h3>
      </div>
      <div class="ui column one wide">
        <button class="ui circular plus icon button small green" id="add-make">
          <i class="plus icon"></i>
        </button>
      </div>
    </div>
    <div class="ui row make-row">
      <div class="ui column fluid">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th class="four wide">Targets</th>
              <th class="two wide">Lower bound</th>
              <th class="two wide">Upper bound</th>
              <th class="one wide">Concentration MAX</th>
              <th class="one wide right aligned">Delete</th>
            </tr></thead>
            <tbody id="make-tbody">
              <tr class="make-line">
                <td class="center aligned">
                  <div class="ui search name fluid standard">
                    <div class="ui icon input fluid">
                      <input class="prompt" type="text" placeholder="Search matters...">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>
                </td>
                <td class="center aligned">
                  <div class="ui right labeled input fluid">
                    <input type="number" placeholder="Weight..">
                    <div class="ui basic label">Unit </div>
                  </div>
                </td>
                <td class="center aligned">
                  <div class="ui right labeled input fluid">
                    <input type="number" placeholder="Weight..">
                    <div class="ui basic label">Unit </div>
                  </div>
                </td>
                <td class="center aligned">
                  <div class="ui toggle checkbox max">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td class="right aligned">
                  <button class="ui circular minus icon button tiny remove-add">
                    <i class="minus icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- row 1 make matter -->
      <div class="ui divider make-row"></div>
      <!-- row 2 resolve matter -->
      <div class="ui row resolve-row">
        <div class="ui column fifteen wide">
          <h3 class="ui yellow header">
            <i class="lab icon default black"></i>
            <div class="content">Substrates
              <div class="sub header"></div>
            </div>
          </h3>
        </div>
        <div class="ui column one wide">
          <button class="ui circular plus icon button small yellow" id="add-resolve">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
      <div class="ui row resolve-row">
        <div class="ui column fluid">
          <table class="ui very basic table collapsing">
            <thead>
              <tr>
                <th class="three wide">Targets</th>
                <th class="two wide">Concentration</th>
                <th class="one wide right aligned">Delete</th>
              </tr>
            </thead>
            <tbody id="resolve-tbody">
              <tr class="resolve-line">
                <td class="center aligned">
                  <!-- 可以自动补全 -->
                  <div class="ui input fluid name search">
                    <input class="prompt" type="text" placeholder="Search matter...">
                  </div>
                  <div class="results"></div>
                </td>
                <td class="center aligned">
                  <div class="ui right labeled input fluid">
                    <input type="number" placeholder="Weight..">
                    <div class="ui basic label">Unit </div>
                  </div>
                </td>
                <td class="right aligned">
                  <button class="ui circular minus icon button tiny remove-resolve">
                    <i class="minus icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- row 2 resolve matter -->
      <!-- other settings -->
      <div class="ui divider resolve-row"></div>
      <!-- row 3 others -->
      <div class="ui row">
        <div class="ui column fluid wide">
          <h3 class="ui header">
            <i class="settings icon default black"></i>
            <div class="content">Constraints
              <div class="sub header"></div>
            </div>
          </h3>
        </div>
      </div>
      <div class="ui row divided">
        <div class="ui column four wide">
          <label><b>Time</b></label>
          <div class="ui right labeled left icon input fluid">
            <i class="time icon"></i>
            <input type="text" placeholder="Enter time" id="time">
            <div class="ui tag label gray small">Unit</div>
          </div>
        </div>
        <div class="ui column four wide">
          <label><b>Medium</b></label>
          <div class="ui fluid search dropdown selection" id="medium-slt">
            <i class="dropdown icon"></i>
            <input class="search" autocomplete="off" tabindex="0">
            <div class="default text">Month</div>
            <div class="menu transition hidden" tabindex="-1">
              <div class="item selected" data-value="1">January</div>
              <div class="item" data-value="2">February</div>
              <div class="item" data-value="3">March</div>
              <div class="item" data-value="4">April</div>
              <div class="item" data-value="5">May</div>
              <div class="item" data-value="6">June</div>
              <div class="item" data-value="7">July</div>
              <div class="item" data-value="8">August</div>
              <div class="item" data-value="9">September</div>
              <div class="item" data-value="10">October</div>
              <div class="item" data-value="11">November</div>
              <div class="item" data-value="12">December</div>
            </div>
          </div>
        </div>
        <div class="ui column eight wide form">
          <label><b>Environmental Mircobiota</b></label>
          <div class="two fields">
            <div class="field">
              <div class="ui search dropdown selection" id="flora-slt">
                <i class="dropdown icon"></i>
                <input class="search" autocomplete="off" tabindex="0">
                <div class="default text">flora</div>
                <div class="menu transition hidden" tabindex="-1">
                  <div class="item selected" data-value="1">January</div>
                  <div class="item" data-value="2">February</div>
                  <div class="item" data-value="3">March</div>
                  <div class="item" data-value="4">April</div>
                  <div class="item" data-value="5">May</div>
                  <div class="item" data-value="6">June</div>
                  <div class="item" data-value="7">July</div>
                  <div class="item" data-value="8">August</div>
                  <div class="item" data-value="9">September</div>
                  <div class="item" data-value="10">October</div>
                  <div class="item" data-value="11">November</div>
                  <div class="item" data-value="12">December</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- dimmer -->
      <div class="ui dimmer blurring upload">
        <div class="content">
          <div class="center">
            <h2 class="ui inverted icon header">
              <i class="file icon"></i>
              Using file!
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- 输入框们 -->
    <div class="ui row">
      <div class="ui column grid centered">
        <div class="ui five wide column center aligned fluid">
          <input type="file" name="all-file" class="hidden" id="upload-all-file">
          <button class="ui black button big all-file">Upload File</button>
        </div>
        <div class="ui five wide column center aligned fluid">
          <button class="ui blue button big" id="save-btn">Save</button>
        </div>
        <div class="ui five wide column center aligned fluid ">
          <button class="ui green button big">Next Step</button>
        </div>
      </div>
    </div> <!-- 按钮们 -->
    <!-- row 3 others matter -->
  </div> <!-- state_1 grid -->
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/state_1.js"></script>
{% endblock %}
