{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/state_5.css">
{% endblock %}


{% block container %}
<!-- put code here with-->
<span id="design-id" style="display: none;">26</span> <!-- given by jinja2 -->
<div class="ui five steps sticky">
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Step 1</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Step 2</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Step 3</div>
    </div>
  </a>
  <a class="step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Step 4</div>
    </div>
  </a>
  <a class="active step">
    <i class="circle icon"></i>
    <div class="content">
      <div class="title">Step 5</div>
    </div>
  </a>
</div>


<div class="ui column grid state">
  <div class="ui row">
    <div class="ui column fluid test">
      实验数据反馈
    </div>
  </div>

  <div class="ui row">
    <div class="ui column twelve wide"></div> <!-- offset -->
    <div class="ui column two wide">
      <button class="ui blue button fluid">Save</button>
    </div>
    <div class="ui column two wide">
      <button class="ui black button fluid">Edit</button>
    </div>
  </div>
</div> <!-- state grid -->
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/state_5.js"></script>
{% endblock %}
