<!DOCTYPE html>
    <html>
        <head>
            <title>testlogin</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        </head>
        <body>
            <p>REGISTER</p>
            <form action="/register" method="post">
                Email:<br>
                <input type="text" name="email" value="">
                <br>
                Nickname:<br>
                <input type="text" name="nickname" value="">
                <br>
                Password:<br>
                <input type="text" name="password" value="">
                <br><br>
                <input type="submit" value="Submit">
            </form>
            <br>
            <p>LOGIN</p>
            <form action="/login" method="post">
                Email:<br>
                <input type="text" name="email" value="">
                <br>
                Password:<br>
                <input type="text" name="password" value="">
                <br><br>
                <input type="submit" value="Submit">
            </form> 
            <a href="/logout">logout</a>
        </body>
    </html>