<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>State 2</title>
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/base.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/menu.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/dropdown.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/search.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/checkbox.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/semantic/components/sticky.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/prism.css">
  <!-- put css stylesheet down here -->
  <link rel="stylesheet" type="text/css" href="./static/css/state_2.css">
  <link rel="stylesheet" type="text/css" href="./static/css/range.css">
  <!-- put css stylesheet down here -->
</head>
<body>
  <!-- <div class="container ui"> </div>  -->
  <div class="ui borderless main menu inverted fixed" id="top-menu">
    <div class="ui container">
      <div class="header item menu-title"><i class="rocket icon"></i> CRAFT</div>
      <div class="item">
        <div class="ui category search item">
          <div class="ui transparent icon input inverted small">
            <input class="prompt inverted" type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="right menu">
        <a class="item">Wiki</a>
        <a class="item">Help</a>
        <div class="ui dropdown item">
          My <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">My Profile</a>
            <a class="item">Setting</a>
            <div class="divider"></div>
            <a class="item">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="ui grey button icon compact" id="to-top">
    <i class="arrow up icon"></i>
  </button>

  <div class="ui column fluid" id="top-bg">

    <div class="container ui" id="main-container">
      <div class="ui five steps sticky">
        <a class="step">
          <i class="green check circle icon"></i>
          <div class="content">
            <div class="title">Step 1</div>
          </div>
        </a>
        <a class="step">
          <i class="green check circle icon"></i>
          <div class="content">
            <div class="title">Step 2</div>
          </div>
        </a>
        <a class="active step">
          <i class="info circle icon"></i>
          <div class="content">
            <div class="title">Step 3</div>
          </div>
        </a>
        <a class="disabled step">
          <i class="help circle icon"></i>
          <div class="content">
            <div class="title">Step 4</div>
          </div>
        </a>
        <a class="disabled step">
          <i class="help circle icon"></i>
          <div class="content">
            <div class="title">Step 5</div>
          </div>
        </a>
      </div>
      
      <!-- put code here with-->
      <div class="ui column grid state">
        <div class="ui row">
          <div class="ui five wide column"></div>
          <div class="ui six wide column medium bordered image">
            <img src="static/img/pending.jpg" alt="" style="margin:auto;"/>
          </div>
        </div>
        <div class="ui row">
          <div class="ui four wide column"></div>
          <div class="ui eight wide column piled segment">
            <p>Your sample is just uploaded. It needs to be calculated. Here is your Task ID : </p>
            <pre><code class="language-bash">XXXX-XXXX-XXXX-XXXX</code></pre>
            <p>To complete the calculation, open your terminal, run command:</p>
            <pre><code class="language-bash">python xxx.py &lt;Task ID&gt;</code></pre>
            <p>Or shared your Task ID.</p>
          </div>
        </div>
          
      </div>
<!--      <div class="ui column grid state">-->
<!--        <div class="ui row test">-->
<!--          <div class="ui eight wide column">-->
<!--            <div class="ui column test">-->
<!--              <label><b>培养基</b></label>-->
<!--              <div class="ui fluid search dropdown selection">-->
<!--                <select name="card[expire-month]">-->
<!--                  <option value="">Month</option>-->
<!--                  <option value="1">January</option>-->
<!--                  <option value="2">February</option>-->
<!--                  <option value="3">March</option>-->
<!--                  <option value="4">April</option>-->
<!--                  <option value="5">May</option>-->
<!--                  <option value="6">June</option>-->
<!--                  <option value="7">July</option>-->
<!--                  <option value="8">August</option>-->
<!--                  <option value="9">September</option>-->
<!--                  <option value="10">October</option>-->
<!--                  <option value="11">November</option>-->
<!--                  <option value="12">December</option>-->
<!--                </select>-->
<!--                <i class="dropdown icon"></i>-->
<!--                <input class="search" autocomplete="off" tabindex="0">-->
<!--                <div class="default text">Month</div>-->
<!--                <div class="menu transition hidden" tabindex="-1">-->
<!--                  <div class="item selected" data-value="1">January</div>-->
<!--                  <div class="item" data-value="2">February</div>-->
<!--                  <div class="item" data-value="3">March</div>-->
<!--                  <div class="item" data-value="4">April</div>-->
<!--                  <div class="item" data-value="5">May</div>-->
<!--                  <div class="item" data-value="6">June</div>-->
<!--                  <div class="item" data-value="7">July</div>-->
<!--                  <div class="item" data-value="8">August</div>-->
<!--                  <div class="item" data-value="9">September</div>-->
<!--                  <div class="item" data-value="10">October</div>-->
<!--                  <div class="item" data-value="11">November</div>-->
<!--                  <div class="item" data-value="12">December</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="eight wide column">-->
<!--            <div class="ui column four wide">-->
<!--              <label><b>培养基</b></label>-->
<!--              <div class="ui fluid search dropdown selection">-->
<!--                <select name="card[expire-month]">-->
<!--                  <option value="">Month</option>-->
<!--                  <option value="1">January</option>-->
<!--                  <option value="2">February</option>-->
<!--                  <option value="3">March</option>-->
<!--                  <option value="4">April</option>-->
<!--                  <option value="5">May</option>-->
<!--                  <option value="6">June</option>-->
<!--                  <option value="7">July</option>-->
<!--                  <option value="8">August</option>-->
<!--                  <option value="9">September</option>-->
<!--                  <option value="10">October</option>-->
<!--                  <option value="11">November</option>-->
<!--                  <option value="12">December</option>-->
<!--                </select>-->
<!--                <i class="dropdown icon"></i>-->
<!--                <input class="search" autocomplete="off" tabindex="0">-->
<!--                <div class="default text">Month</div>-->
<!--                <div class="menu transition hidden" tabindex="-1">-->
<!--                  <div class="item selected" data-value="1">January</div>-->
<!--                  <div class="item" data-value="2">February</div>-->
<!--                  <div class="item" data-value="3">March</div>-->
<!--                  <div class="item" data-value="4">April</div>-->
<!--                  <div class="item" data-value="5">May</div>-->
<!--                  <div class="item" data-value="6">June</div>-->
<!--                  <div class="item" data-value="7">July</div>-->
<!--                  <div class="item" data-value="8">August</div>-->
<!--                  <div class="item" data-value="9">September</div>-->
<!--                  <div class="item" data-value="10">October</div>-->
<!--                  <div class="item" data-value="11">November</div>-->
<!--                  <div class="item" data-value="12">December</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="ui row">-->
<!--          <div class="ui column eight wide test">-->
<!--            <div class="plasmid"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div> -->
          <!-- state_1 grid -->

    </div> <!-- main-container end -->
  </div>

  <!-- put code here, without background image -->

  <!-- footer -->
  <!-- <div class="ui one column grid footer"> -->
  <div class="ui vertical footer segment column fliud">
    <div class="ui center aligned container">
      SYSU-Software 2016
    </div>
  </div>
  <!-- </div> -->


  <script type="text/javascript" src="./static/js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="./static/css/semantic/semantic.min.js"></script>
  <script type="text/javascript" src="./static/js/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="./static/js/base.js"></script>
  <script type="text/javascript" src="./static/css/semantic/components/dropdown.min.js"></script>
  <script type="text/javascript" src="./static/css/semantic/components/search.min.js"></script>
  <script type="text/javascript" src="./static/css/semantic/components/checkbox.min.js"></script>
  <script type="text/javascript" src="./static/css/semantic/components/sticky.min.js"></script>
  <script type="text/javascript" src="./static/js/prism.js"> </script>
  <!-- put javascript down here -->
  <script type="text/javascript" src="./static/js/Chart.min.js"></script>
  <script type="text/javascript" src="./static/js/state_2.js"></script>
  <script type="text/javascript" src="./static/js/range.js"></script>
  <!-- put javascript down here -->
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
</body>
</html>
