.title-img {
    height: 160px;
    margin-top: 12vmin;
    position: relative;
}

.title-img > img {
    width: 70%;
    height: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
    bottom: 0;
}

.form {
    /*background-color: white;*/
    background-color: rgba(0,0,0,0);
    height: 400px;
}

.inputs {
    background-color: rgba(0,0,0,0);
    height: 350px;
}

#sign-in-btn,
#sign-up-btn {
    color: white;
    width: 50%;
    background-color: rgba(0,0,0,0);
    font-size: 1.5em;
}

/*input {
    font-size: 1.5em;
}*/

#sign-in-form,
#sign-up-form {
    margin-top: 0;
}

.or-divider {
    color: white;
    width: 100%;
    text-align: center;
    display: table;
}

.secondary.pointing.menu {
    border: none;
    font-family: "Futura";
}

.forget {
    cursor: pointer;
}

div#shell {
    display: block;
    float: left;
    position: relative;
    margin: 0 auto;
    width: 1px;
    height: 318px;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
img#star-1 {
    position: absolute;
    z-index: 4;
    top: 36vh;
    left: 90vw;
}
img#star-2 {
    position: absolute;
    z-index: 2;
    top: 60vh;
    left: 50vw;
}
img#star-3 {
    position: absolute;
    top: 18vh;
    left: 30vw;
    z-index: 1;
}