body {
    background-color: #2f2f2f;
}

.ui.banner {
    height: auto;
    min-height: 60vh;
    position: relative;
}

.ui.grid.bottom {
    /*height: 40vh;*/
    margin-top: 45vh;
    position: relative;
    /*bottom: 30px;*/
}

/*.ui.grid.bottom > .column {
    position: absolute;
}*/ 

.ui.grid>.profile-menu.column:not(.row) {
    padding: 0;
}

.ui.secondary.pointing.menu {
    color: white;
    border: none;
    margin-bottom: 0;
}

.profile-menu {
    background-color: white;
    /*margin-bottom: 60px;*/
}

.profile-menu > .segment {
    margin-top: 0;
}

.column .title {
    font-size: 2em;
    border-bottom: 1px solid gray;
}

.column.grid.main {
    padding: 50px 0;
}

.row.top {
    padding-bottom: 0!important;
}

.row.buttom {
    padding-top: 0!important;
}

.nickname.icon:hover,
.password.icon:hover {
    cursor: pointer;
}

.ui.button + .ui.button {
    margin-left: 10px;
}

p.title > .icon {
    float: right;
}