body {
    /*background-color: rgb(168,168,168);*/
    background-color: #2f2f2f;
}

.ui.banner {
    height: auto;
    min-height: 40vh;
    position: relative;
}


.ui.grid.bottom {
    /*height: 40vh;*/
    margin-top: 25vh;
    position: relative;
    /*bottom: 30px;*/
}

/*.ui.grid.bottom > .column {
    position: absolute;
}*/ 

.ui.grid>.profile-menu.column:not(.row) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.ui.secondary.pointing.menu.inverted {
    color: white;
    border: none;
}

.ui.sticky {
    margin: 54px 0;
    z-index: -1;
    padding-bottom: 67px;
}

.ui.popup {
    width: 300px;
}

/* test */
.test-height {
    height: 400px;
}