#main-container {
    margin-top: 68px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    /*radius: 5px;*/
    min-height: 100%;
    background-color: rgba(255,255,255,1);
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 54px;
}

#qa {
    margin-top: 50px;
    margin-bottom: 30px;
}

#quest > li{
    margin-top:10px;
}

a.quest, a:hover.quest{
    color:black;
}

img {
    max-width: 800px;
    height: auto;
}

p {
    line-height: 2em;
}

.ui.item + .ui.item {
    padding-top: 5px;
}